.eachVideoContainer {
  display: flex;
  gap: 5rem;
  padding-bottom: 2rem;
  margin-left: 1rem;
  margin-top: 80px;
}

.movieNameContainer {
  width: 140px;
  margin-bottom: 1rem;
}
.addToPlaylistContainer {
  width: 140px;
}
.movieName {
  padding: 0;
  margin: 0;
  color: var(--primary-text-color);
  font-size: 24px;
  font-weight: bold;
}
.addToPlaylist {
  padding: 0;
  margin: 0;
  color: var(--primary-text-color);
  font-size: 1rem;
}
