.homePageHeader {
  display: flex;
  align-items: center;
  gap: 8rem;
}

.videoListContainer {
  display: grid;

  grid-template-columns: 70% 30%;

  gap: 1rem;
  margin-bottom: 2rem;
}
.outerWrapperVideoListContainer {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;

  background-color: #292929;
}
